
@font-face{ 
	font-family: 'MyWebFont';
	src: url('tenderness_regular_macroman/Tenderness-webfont.eot');
    src: url('tenderness_regular_macroman/Tenderness-webfont.eot?iefix') format('eot'),
         url('tenderness_regular_macroman/Tenderness-webfont.woff') format('woff'),
         url('tenderness_regular_macroman/Tenderness-webfont.ttf') format('truetype'),
         url('tenderness_regular_macroman/Tenderness-webfont.svg#webfont') format('svg') 
         
}

body {
    font-family: "MyWebFont", "Lucinda Grande", sans-serif;
    background-color: #fdfdfd;
    padding: 10px 100px;
}
p {
    font-family: "Lucinda Grande", sans-serif;
}

#header {
  border-bottom: 3px solid #50878e;
  margin: 0 2.5%;
  margin-top: 15px;
  padding-bottom: 20px; 
}

#header .row {
  display: flex;
  align-items: center;
}

#header h1{
    color: #50878e;
    font-size: 45px;
    font-weight: bold;
}

#header ul {
  float: right;
  margin-top:15px;
}

@media only screen and (max-width: 767px) {
  #header h1 {
    text-align: center;
    font-size: 3.5em; 
  }

  #header ul {
    float: none;
    text-align: center;
    padding: 10px 40px;
  }

  #header .fa-lg {
    font-size: 2em;
  }

  #tagline {
    font-size: 20px;
  }
}

#tagline {
  padding: 50px 0px 0px 0px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: #50878e;
  width: 95%;
}

#work {
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
}

#work #portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#work .slide {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 20px;
  height: 250px;
  padding: 15px;
  width: 25%;
}

#work .test {
  display: flex;
  margin-top: 120px; 
}

#work .row {
  width: 115.2%;
  background-color: rgba(50, 50, 50, .8);
  color: #ddd;
  min-height: 100px;
}

@media only screen and (max-width: 1200px) {
  #work .row {
    width: 129.4%;
    min-height: 150px;
  }
}

@media only screen and (max-width: 544px) {
  #work .row {
    width: 149.2%;
  }
}

#work img {
  width: 65%;
  margin: 0 auto;
}

#work h3 {
  font-size: 20px;
}

#work p {
  font-size: 16px;
  margin-top: 15px;
}

#work a {
  color: #fcfcfc;
}

#work a:hover {
  color: #ddd;
}

#work a:focus {
  border: none;
}

#work .fa-stack {
  font-size: 20px;
}
#work .fa-github-alt {
  color: #fafafa;
}

#work .fa-githbu-alt:hover {
  color: #ddd;
}

#work .fa-circle {
  color: #6c3e79;
}

#work .fa-circle:hover {
  color: #563261;
}

#work a:focus {
  outline: none;
}

#socialMedia li {
  display: inline;
}

#socialMedia a{  
  margin: 5px;
}

#socialMedia a:hover {
  text-decoration: none;
}

#socialMedia i {
  color: #fafafa;
  font-style: inherit;
}

#socialMedia i:hover {
  color: #ddd;
}

#socialMedia .fa-circle {
  color: #6c3e79;
}

#socialMedia .fa-circle:hover {
  color: #563261;
}