
@font-face{ 
	font-family: 'MyWebFont';
	src: url('tenderness_regular_macroman/Tenderness-webfont.eot');
    src: url('tenderness_regular_macroman/Tenderness-webfont.eot?iefix') format('eot'),
         url('tenderness_regular_macroman/Tenderness-webfont.woff') format('woff'),
         url('tenderness_regular_macroman/Tenderness-webfont.ttf') format('truetype'),
         url('tenderness_regular_macroman/Tenderness-webfont.svg#webfont') format('svg') 
         
}

@font-face {
      font-family: 'fontello';
      src: url('font/fontello.eot?32201686');
      src: url('font/fontello.eot?32201686#iefix') format('embedded-opentype'),
           url('font/fontello.woff?32201686') format('woff'),
           url('font/fontello.ttf?32201686') format('truetype'),
           url('font/fontello.svg?32201686#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
 
body {
    font-family: "MyWebFont", "Lucinda Grande", sans-serif;
    background-color: #eee;
}

p {
    font-family: "Lucinda Grande", sans-serif;
}

#intro {
  background: #eee url("../images/siteImage.png") no-repeat right;
  margin-bottom: 0px;
}

@media only screen and (max-width: 1200px) {
  #intro {
    background-position: top;
  }
}

#intro .container {
  width: 85%;
}

#intro h1{
    color: #50878e;
    font-size: 90px;
}

@media only screen and (max-width: 645px) {
  #intro h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 490px) {
  #intro h1 {
    font-size: 55px;
  }
}

#intro h3{
    font-size: 30px;
}

#work {
  background-color: #50878e;
  min-height: 75vh;
}

#work #portfolio {
  width: 85%;
  margin: 0 auto;
  padding-top: 50px;
}

.slick-prev {
  left: -40px !important;
}

.slick-prev:before, .slick-next:before {
  color: #6c3e79 !important;
  font-size: 35px !important;
}

.slick-prev:hover, .slick-next:hover {
  color:  #563261 !important;
}

#work .slide {
  background-color: #eee;
  margin: 5px;
  height: 300px;
  padding: 15px;
}

#work .test {
  position: absolute;
  bottom: 5px;
  width: 5%;
}

#work .row {
  width: 115.2%;
  background-color: rgba(50, 50, 50, .8);
  color: #ddd;
  min-height: 100px;
}

@media only screen and (max-width: 1024px) {
  #work .row {
    width: 129.2%;
    min-height: 150px;
  }
}

@media screen and (max-width: 480px) {
  #work .row {
    width: 149.2%;
  }
}

#work img {
  width: 65%;
  margin: 0 auto;
}

#work h3 {
  font-size: 20px;
}

#work p {
  font-size: 16px;
  margin-top: 15px;
}

#summary .row {
  margin:0px;
}

#summary #selfie {
  width: 80%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  #summary #selfie {
    width: 50%;
  }
}

#summary h4 {
  font-size: 45px;
  color: #50878e;
}

#summary li {
  font-size: 20px;
  font-family: "Lucinda Grande", sans-serif;
}

#summary #resume {
  margin-top: 20px;
  font-style: italic;
}

#summary #resume a {  
  color: #6c3e79;
  text-decoration: none;
}

#summary a:hover {
  color: #563261;
}

#socialMedia {
  background-color: rgb(50, 50, 50);
  padding: 15px;
  text-align: center;
  margin-bottom: -2px;
}

#socialMedia li {
  display: inline;
}

#socialMedia a{  
  margin: 15px;
}

#socialMedia a:hover {
  text-decoration: none;
}

#socialMedia i {
  color: #eee;
  font-style: inherit;
}

#socialMedia i:hover {
  color: #ccc;
}

#socialMedia .fa-circle {
  color: #6c3e79;
}

#socialMedia .fa-circle {
  color: #563261;
}