:root {
  --main-blue: #50878E;
  --main-purple: #7C3693; 
  --main-gray: #D3D3D3;
  --subtitle-gray: #333333;
  --main-font: "Rubik", sans-serif;
  --landing-indent: 5em;
  --section-padding: 2em;
}

p {
  font-size: 18px;
}

a {
  color: var(--main-purple);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--main-font);
  text-align: center;
}

a:hover {
  color: var(--main-blue);
  text-decoration: none;
}

h2 {
  color: var(--main-blue);
  font-family: var(--main-font);
}

.section-layout {
  min-height: 100vh;
  width: 100%;
}

/* Landing section styling */
.nav-parent {
  display: flex;
  align-items: center;
  padding: 2em 0 2em var(--landing-indent);
  margin: 0;
  background-color: white;
}

.nav-logo {
  height: 50px;
}

.intro {
  margin: 30vh 0 0 var(--landing-indent);
}

.intro h1 {
  color: white;
  font-size: 72px;
  font-family: var(--main-font);
}

.intro h4 {
  color: var(--main-gray);
  font-size: 48px;
}

.continue-arrow {
  margin-top: 2em;
  margin-left: 10em;
  cursor: pointer;
  width: 75px;
}

.intro-bg {
  background: var(--main-blue);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

.me-outline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  
}

/* About Me section styling */

#about {
  padding: var(--section-padding);
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.map-container h2 {
  margin-top: var(--section-padding);
  margin-bottom: 0.5em;
}

.map-container {
  padding: 0 var(--landing-indent);
}

.map {
  position: relative;
}

.city-label {
  max-width: 7rem;
  background-color: var(--main-gray);
  opacity: 0.8;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
}

.city-label:hover{
  cursor: pointer;
  opacity: 1;
}

#seattle {
  top: 1.5em;
  left: 4.5em;
}

#san-diego {
  top: 15em;
  left: 5.5em;
}

#rochester {
  top: 4.8em;
  left: 25.5em;
}

#charlottesville {
  top: 9.4em;
  left:22.5em;
}

#new-milford {
  top: 5.5em;
  left: 35em;
}

.brand-statement {
  padding: 0 var(--landing-indent);
  text-align: center;
  padding-top: 1em;
}

.brand-statement p {
  margin-bottom: var(--section-padding);
}

.tech-logo-section {
  align-items: center;
  justify-content: center;
}

.tech-logo {
  width: 75%;
  padding: 10%;
}

/* Projects section styling */
#projects {
  background-color: var(--main-purple);
}

.section-title {
  text-align: center;
  padding-top: var(--section-padding);
  font-family: var(--main-font);
  color: white;
}

.project-item {
  height: 65vh;
  margin-top: var(--section-padding);
}

.carousel-item-content {
  background-color: var(--main-gray);
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.carousel-item-content .row {
  height: 100%;
}

.project-header {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

.project-header img {
  width: 75px;
  height: auto;
}

.project-info {
  margin: 0 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info h2 {
  padding-bottom: 0.5em;
}

.project-info .row {
  height: auto;
}

.project-gallery .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--section-padding);
  height: 65vh;
}

.project-gallery .col-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: fit-content;
}

.project-gallery .col-6 img{
  width: 90%;
  margin: 5px;
}

.carousel-controls {
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.carousel-controls a {
  text-align: center;
  color: var(--main-gray);
  padding: var(--section-padding) 0;
  display: block;
  cursor: pointer;
}

.tagline, .contact-info {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding);
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: var(--section-padding);
}
